* {
    box-sizing: border-box;
}

body{
    background-color: rgba(72, 163, 0, 0.07);
    font-family: 'poppins' ,sans-serif;
}

h1 {
    font-size: 64px;
    color: #48A300;
}

span {
    color: #61481c;
}

.title {
    font-size: 64px;
    color:#48A300;
    text-align: center;
}

.headingspan {
    font-size: 64px;
    color: #48A300;
    text-align: center;
}

main {
    padding: 0 16px 32px;
}

.app-container {
    background-color: #fbfbfb;
    margin-inline: auto;
    max-width: 660px;
    border-radius: 15px;
    padding: 32px 48px;
    box-shadow: 0 0 8px 0px rgba(0, 0, 0, 0.1);
}

.progress-lebel {
    color: #858585;
    font-size: 14px;
    margin-bottom: 18px;

}

.progress-bar {
    height: 100%;
    background-color: rgba(72, 163, 0, 0.07);
    border-radius: 15px;
}

.progress-value {
    height: 30px;
    background-color: #48A300;
    border-radius: 15px;
    width: 66%;
    font-weight: 500PX;
    font-size: 10px;
    color:#ffff;
    display:flex;
    align-items: center;
    padding-left: 20px;
}

.error-lebel {
    color: #ff5151;
    font-size: 14px;
    margin-block: 20px;

}

.goal-container {
    border-radius: 17px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    height: 82px;
    display: flex;
    padding: 22px 22px;
    align-items: center;
    background-color: white;
    margin-bottom: 46px;
}

.custom-checkbox {
    width: 24px;
    height: 24px;
    border: 1px solid rgba(97, 72, 28, 0.3);
    border-radius: 50%;
    flex-shrink: 0;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center ;

}

.check-icon {
    display: none;
}

.goal-input {
    outline: none;
    border: none;
/*  height: 100%; */
    align-self: stretch;
    padding-left: 22px;
    font-family: inherit;
    font-size: 16px;
    width: 100%;
    font-weight: 500    ;
    overflow: hidden;
}

.goal-input::placeholder {
    color: #d9d9d9;
}

.quote {
    text-align: center;
    margin-block:8px;
    font-weight: 500;
}

.credits {
    font-size: 10px;
    font-weight: 400;
    text-align: center;
    color: #858585;
/*    margin-block: 54px;*/ 
}

.completed.custom-checkbox {
    background-color:#48A300;
    border-color: #48A300;
}

.completed.check-icon {
    display: block;
}

.completed.goal-input {
    color: #48A300;
    text-decoration: line-through;
     
}


@media (max-width:768px) {
    .title{
        font-size: 32px;
        padding: 16px 32px;
    }

    .progress-bar {
        height: 24px;
        background-color: rgba(72, 163, 0, 0.07);
        border-radius: 15px;
    }

    .progress-value {
        height: 24px;
        background-color: #48A300;
        border-radius: 15px;
        width: 66%;
    }

    .goal-container {
        height: 42px;
        margin-bottom: 23px;
        border-radius: 12px;    
    }

    .custom-checkbox {
        height: 20px;
        width: 20px;
    }
}
